body {
    background-color: "{{ settings.bg }}";
    padding: 0;
    margin: 0;
}

/**
 * --------------------------------------------------------------------
 * ANNOUNCEMENT BAR
 * --------------------------------------------------------------------
 */

.announcement-bar { 
    display: flex; 
    justify-content: space-between; 
    padding: 0 50px; 
    background-color: #f6f6f8; 
    height: 30px; 
    font-family: 'Poplin', sans-serif; 
    font-size: 12px; 
    font-style: normal; 
    font-weight: 400; 
    

.announcement-bar-left-section,
.announcement-bar-right-section {
    display: flex;
    align-items: center;
    gap: 15px;
}

.contact-info,
.location-info {
    display: flex;
    align-items: center;
    gap: 12px;
}

.contact-item {
    display: flex;
    align-items: center; 
    gap: 5px; 
}

.contact-link {
    text-decoration: none;
    color: #333333; 
    margin-left: 0; /* Remove margin */
    display: flex;
    align-items: center; 
}

.language-dropdown {
    background-color: #f2f2f2;
}
.language-select {
    border:none;
    background-color: #f2f2f2;
    font-family: 'Poplin', sans-serif; 
    font-size: 12px; 
    font-style: normal; 
    font-weight: 400; 
}







.notfound {
    background-color: rgb(226, 226, 226);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Set the height to the full viewport height */
}
